@import '../../styles/colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type='email'],
input[type='password'] {
  border: 1px solid $primaryLight;
  line-height: 2.5rem;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 2.5rem;

  &:focus {
    outline: $primaryLight;
  }
}

button {
  background-color: $primary;
  color: $white;
  border-radius: 0.5rem;
  border: none;
  line-height: 3.75rem;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .header {
    display: flex;
    flex-direction: column;
    background-color: $primary;
    border-top: 2.5rem solid $primaryDark;
    align-items: center;

    img {
      margin-top: 2.5rem;
    }

    h1 {
      color: $white;
      margin: 1rem 0 2.5rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 25rem;
    background-color: $white;
    padding: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    .inputWrapper {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;

      input {
        flex-grow: 1;
      }

      .status {
        position: absolute;
        right: 1rem;
        font-size: 0.75rem;
        cursor: help;
      }
    }

    button {
      margin-top: 2rem;
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: 1rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .errorWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .spinner {
        margin-top: 2rem;
      }

      .error {
        margin-top: 2rem;
        color: $primaryLight;
      }
    }
  }

  .footer {
    background-color: $primary;
    height: 3rem;
  }
}
